/* header style */
.title {
  animation: backInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}

/* dark mode style */

.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}

.icon {
  width: 100px;
  height: 100px;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 7s; /* don't forget to set a duration! */
}
.animate__jello {
  animation: jello; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 7s;
}

/* scroll styles */
.scroll-to-bottom-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}

.scroll-to-bottom-arrow.show {
  opacity: 1;
}
